body{
    margin-left: 25px;
    margin-right: 25px;

}

.text{
    padding: 10px 70px 10px 70px;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    padding: 10px;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    /* margin-bottom: 10px; */
  text-align: left;
  background: black;
  color: red;
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
}

#computerchoice-text{
    background-color: green;
}

#score-text{
    background-color: lightcyan;
}

.rows{
    column-count: 2;
}


img{
    height: 250px;
    width: 200px;
} 

.captioncontainer{
    width: 200px;
}

.buttons{
    margin-left: 200px;
    margin-top: 50px;
}



.gamecontainer{
    margin-left: 100px;
    padding: 10px;
} 

.score{
    float:right;
    margin-right: 400px;
}