body{
    margin-left: 25px;
    margin-right: 25px;

}

.text{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.page-header {
    padding: 60px;
  text-align: center;
  background: #c95eb2;
  color: white;
  font-size: 30px;
}

#computerchoice-text{
    background-color: green;
}

#score-text{
    background-color: lightcyan;
}


img{
    height: 250px;
    width: 200px;
} 

.captioncontainer{
    width: 200px;
}

.buttons{
    margin-left: 200px;
}



.gamecontainer{
    margin-left: 150px;
    padding: 10px;
} 
